div{
    width: 200px;
    height: 200px;
}


.top-container{
    background-color: blue;
    padding: 20px;
    color: white;
    margin-top: 50px;
}
.mid-container{
    background-color: red;
    margin-left: 238px;
    margin-top: 000px;

 

}
.low-container{
    background-color: yellow;
    margin-left: 435px;

}