div{
    width: 200px;
    height: 200px;
}


.top-container{
    background-color: blue;
    border: black solid 10px;
    padding: 20px;
    color: white;
}
.mid-container{
    background-color: red;
    border: black solid 20px;
    margin-left: 260px;
 

}
.low-container{
    background-color: yellow;
    border: black solid 10px;
    margin-left: 500px;

}